[submodule "_vim/bundle/vim-pathogen"]
	path = _vim/bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "_vim/bundle/current-func-info"]
	path = _vim/bundle/current-func-info
	url = git://github.com/tyru/current-func-info.vim.git
[submodule "_vim/bundle/unite"]
	path = _vim/bundle/unite
	url = git://github.com/Shougo/unite.vim.git
[submodule "_vim/bundle/neocomplcache"]
	path = _vim/bundle/neocomplcache
	url = git://github.com/Shougo/neocomplcache.git
[submodule "_vim/bundle/vim-quickrun"]
	path = _vim/bundle/vim-quickrun
	url = git://github.com/thinca/vim-quickrun.git
[submodule "_vim/bundle/vim-ref"]
	path = _vim/bundle/vim-ref
	url = git://github.com/thinca/vim-ref.git
[submodule "_vim/bundle/unite-help"]
	path = _vim/bundle/unite-help
	url = git://github.com/tsukkee/unite-help.git
[submodule "_vim/bundle/unite-outline"]
	path = _vim/bundle/unite-outline
	url = git://github.com/h1mesuke/unite-outline.git
[submodule "_vim/bundle/unite-colorscheme"]
	path = _vim/bundle/unite-colorscheme
	url = git://github.com/ujihisa/unite-colorscheme.git
[submodule "_vim/bundle/unite-font"]
	path = _vim/bundle/unite-font
	url = git://github.com/ujihisa/unite-font.git
[submodule "_vim/bundle/unite-locate"]
	path = _vim/bundle/unite-locate
	url = git://github.com/ujihisa/unite-locate.git
[submodule "_vim/bundle/unite-mark"]
	path = _vim/bundle/unite-mark
	url = git://github.com/tacroe/unite-mark.git
[submodule "_vim/bundle/unite-git_grep"]
	path = _vim/bundle/unite-git_grep
	url = git://github.com/sgur/unite-git_grep.git
[submodule "_vim/bundle/vim-unite-history"]
	path = _vim/bundle/vim-unite-history
	url = git://github.com/thinca/vim-unite-history.git
[submodule "_vim/bundle/vim-surround"]
	path = _vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "_vim/bundle/vimshell"]
	path = _vim/bundle/vimshell
	url = git://github.com/Shougo/vimshell.git
[submodule "_vim/bundle/vimproc"]
	path = _vim/bundle/vimproc
	url = git://github.com/Shougo/vimproc.git
[submodule "_vim/bundle/Textile-for-VIM"]
	path = _vim/bundle/Textile-for-VIM
	url = git://github.com/vim-scripts/Textile-for-VIM.git
[submodule "_vim/bundle/vim-rails"]
	path = _vim/bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "_vim/bundle/caw.vim"]
	path = _vim/bundle/caw.vim
	url = git://github.com/tyru/caw.vim.git
[submodule "_vim/bundle/vimfiler"]
	path = _vim/bundle/vimfiler
	url = https://github.com/Shougo/vimfiler.git
[submodule "_vim/bundle/vim-metarw"]
	path = _vim/bundle/vim-metarw
	url = git://github.com/kana/vim-metarw.git
[submodule "_vim/bundle/vim-metarw-git"]
	path = _vim/bundle/vim-metarw-git
	url = git://github.com/kana/vim-metarw-git.git
[submodule "_vim/bundle/vim-markdown"]
	path = _vim/bundle/vim-markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule "_vim/bundle/vim-smartchr"]
	path = _vim/bundle/vim-smartchr
	url = git://github.com/kana/vim-smartchr.git
[submodule "_vim/bundle/vim-rdoc"]
	path = _vim/bundle/vim-rdoc
	url = git://github.com/hallison/vim-rdoc.git
[submodule "_vim/bundle/vim-fugitive"]
	path = _vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "_vim/bundle/vim-coffee-script"]
	path = _vim/bundle/vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "_vim/bundle/open-browser.vim"]
	path = _vim/bundle/open-browser.vim
	url = git://github.com/tyru/open-browser.vim.git
[submodule "_vim/bundle/savemap.vim"]
	path = _vim/bundle/savemap.vim
	url = git://github.com/tyru/savemap.vim.git
[submodule "_vim/bundle/vice.vim"]
	path = _vim/bundle/vice.vim
	url = git://github.com/tyru/vice.vim.git
[submodule "_vim/bundle/vim-json"]
	path = _vim/bundle/vim-json
	url = git://github.com/leshill/vim-json.git
[submodule "_vim/bundle/vim-altr"]
	path = _vim/bundle/vim-altr
	url = git://github.com/kana/vim-altr.git
[submodule "_vim/bundle/vim-javascript"]
	path = _vim/bundle/vim-javascript
	url = git://github.com/pangloss/vim-javascript.git
[submodule "_vim/bundle/jslint.vim"]
	path = _vim/bundle/jslint.vim
	url = git://github.com/hallettj/jslint.vim.git
[submodule "_vim/bundle/pacman.vim"]
	path = _vim/bundle/pacman.vim
	url = git://github.com/tyru/pacman.vim.git
[submodule "_vim/bundle/vim-visualstar"]
	path = _vim/bundle/vim-visualstar
	url = git://github.com/thinca/vim-visualstar.git
[submodule "_vim/bundle/chalice"]
	path = _vim/bundle/chalice
	url = git://github.com/koron/chalice.git
[submodule "_vim/bundle/Align"]
	path = _vim/bundle/Align
	url = git://github.com/vim-scripts/Align.git
[submodule "_vim/bundle/vim-textobj-fold"]
	path = _vim/bundle/vim-textobj-fold
	url = git://github.com/kana/vim-textobj-fold.git
[submodule "_vim/bundle/vim-textobj-lastpat"]
	path = _vim/bundle/vim-textobj-lastpat
	url = git://github.com/kana/vim-textobj-lastpat.git
[submodule "_vim/bundle/vim-textobj-syntax"]
	path = _vim/bundle/vim-textobj-syntax
	url = git://github.com/kana/vim-textobj-syntax.git
[submodule "_vim/bundle/vim-textobj-indent"]
	path = _vim/bundle/vim-textobj-indent
	url = git://github.com/kana/vim-textobj-indent.git
[submodule "_vim/bundle/vim-textobj-user"]
	path = _vim/bundle/vim-textobj-user
	url = git://github.com/kana/vim-textobj-user.git
[submodule "_vim/bundle/vim-ruby"]
	path = _vim/bundle/vim-ruby
	url = git://github.com/vim-ruby/vim-ruby.git
[submodule "_vim/bundle/calendar-vim"]
	path = _vim/bundle/calendar-vim
	url = git://github.com/mattn/calendar-vim.git
[submodule "_vim/bundle/vim-endwise"]
	path = _vim/bundle/vim-endwise
	url = git://github.com/tpope/vim-endwise.git
[submodule "_vim/bundle/vim-toggle"]
	path = _vim/bundle/vim-toggle
	url = git://github.com/taku-o/vim-toggle.git
[submodule "_vim/bundle/unite-tag"]
	path = _vim/bundle/unite-tag
	url = git://github.com/tsukkee/unite-tag.git
[submodule "_vim/bundle/unite-qf"]
	path = _vim/bundle/unite-qf
	url = git://github.com/sgur/unite-qf.git
[submodule "_vim/bundle/unite-session"]
	path = _vim/bundle/unite-session
	url = git://github.com/tungd/unite-session.git
[submodule "_vim/bundle/unite-rails"]
	path = _vim/bundle/unite-rails
	url = git://github.com/basyura/unite-rails.git
[submodule "_vim/bundle/vimdoc-ja"]
	path = _vim/bundle/vimdoc-ja
	url = git://github.com/vim-jp/vimdoc-ja.git
[submodule "_vim/bundle/unite-build"]
	path = _vim/bundle/unite-build
	url = git://github.com/Shougo/unite-build.git
[submodule "_vim/bundle/learn-vimscript"]
	path = _vim/bundle/learn-vimscript
	url = git://github.com/mattn/learn-vimscript.git
[submodule "_vim/bundle/unite-vim_hacks"]
	path = _vim/bundle/unite-vim_hacks
	url = git://github.com/choplin/unite-vim_hacks.git
[submodule "_vim/bundle/vim-openbuf"]
	path = _vim/bundle/vim-openbuf
	url = git://github.com/thinca/vim-openbuf.git
[submodule "_vim/bundle/webapi-vim"]
	path = _vim/bundle/webapi-vim
	url = git://github.com/mattn/webapi-vim.git
[submodule "_vim/bundle/vim-alignta"]
	path = _vim/bundle/vim-alignta
	url = git://github.com/h1mesuke/vim-alignta.git
[submodule "_vim/bundle/quickfixstatus"]
	path = _vim/bundle/quickfixstatus
	url = git://github.com/dannyob/quickfixstatus.git
[submodule "_vim/bundle/vim-hier"]
	path = _vim/bundle/vim-hier
	url = git://github.com/jceb/vim-hier.git
[submodule "_vim/bundle/textobj-wiw"]
	path = _vim/bundle/textobj-wiw
	url = git://github.com/h1mesuke/textobj-wiw.git
[submodule "_vim/bundle/vim-arpeggio"]
	path = _vim/bundle/vim-arpeggio
	url = git://github.com/kana/vim-arpeggio.git
[submodule "_vim/bundle/Vim-Tomorrow-Theme"]
	path = _vim/bundle/Vim-Tomorrow-Theme
	url = git://github.com/ChrisKempson/Vim-Tomorrow-Theme.git
[submodule "_vim/bundle/molokai"]
	path = _vim/bundle/molokai
	url = git://github.com/tomasr/molokai.git
[submodule "_vim/bundle/vim-powerline"]
	path = _vim/bundle/vim-powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule "_vim/bundle/vim-distinguished"]
	path = _vim/bundle/vim-distinguished
	url = git://github.com/Lokaltog/vim-distinguished.git
[submodule "_vim/bundle/tagbar"]
	path = _vim/bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "_vim/bundle/vim-localrc"]
	path = _vim/bundle/vim-localrc
	url = git://github.com/thinca/vim-localrc.git
